.LoginPage {
    color: white;
    display: flex;
    width: 100%;
    height: 100%;
    .FormFrame {
        width: 50%;
        height: 100%;
    }
    .LogoFrame {
        width: 50%;
        height: 100%;
    }
}
hr {
    width: 60%;
}
