@font-face {
  font-family: "BMDOHYEON";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.row-title {
  justify-content: center;
  margin: 10px;
}

.row-title .count_d {
  font-family: "BMDOHYEON";
  margin-right: 40px;
  font-size: 20px;
}
