.card {
    height: 200px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid #d3d3d3;
    z-index: 1;

    &:hover {
        border: 1px solid black;
    }
    .nameLayout {
        margin-top: 20px;
        margin-left: 5px;
        position: relative;
        height: 20px;
        width: 120px;
        // border: 1px solid black;
    }
}
.room_reserveLayout {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    margin: 3%;
    padding: 2%;
    // border: 1px solid black;

    .roomLayout {
        width: 100%;
        height: 50%;
        // border-bottom: 1px solid #d3d3d3;

        // border: 1px solid black;

        .half {
            height: 50%;
            padding: 1%;
            // border: 1px solid black;
            // border-right: 1px solid #d3d3d3;
            .sliderLayout {
                padding: 1%;
                position: relative;
                height: 120px;
                width: 120px;
                margin-bottom: 2%;
                // border: 1px solid black;
            }
            .nameLayout {
                padding: 1%;
                margin-top: 20px;
                margin-left: 5px;
                position: relative;
                height: 20px;
                width: 120px;
                // border: 1px solid black;
            }
        }
        .room_reserveLayout {
            display: flex;
            flex-direction: column;
            width: 60%;
            height: auto;
            margin: 3%;
            padding: 2%;
            // border: 1px solid black;

            .roomLayout {
                width: 100%;
                height: 50%;
                border-bottom: 1px solid #d3d3d3;

                // border: 1px solid black;
                .half {
                    height: 50%;
                    // border: 1px solid black;
                    span {
                        align-self: center;
                        font-size: medium;
                        .float {
                            position: relative;
                            float: right;
                            right: 1%;
                        }
                    }
                    .fontB {
                        font-family: 'BMDOHYEON';
                        font-size: small;
                    }
                }
            }
            .reserveTitle {
                margin-top: 1%;
                font-family: 'BMDOHYEON';
                position: relative;
                float: right;
                right: 1%;
                font-size: large;
            }
        }
    }
}
