@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BMHannaAir';
    src: url('../../fonts/BMHANNAAir_ttf.ttf');
}
.content_layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1%;
    padding: 1%;
    height: 100%;
    .half {
        padding: 1%;
        margin: 2%;
        width: 45%;
        height: 100%;
        font-family: 'BMHannaAir';
    }
}
.which {
    position: absolute;
    right: 0;
    top: 10%;
    z-index: 3;
    border: 1px solid #d3d3d3;
    background-color: white;
}
