.content_layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1%;
  padding: 1%;
  .half {
    padding: 1%;
    margin: 2%;
    width: 45%;
    height: 100%;
  }
  .line {
    border-right: 1px solid #d3d3d3;
  }
}
.which {
  position: absolute;
  right: 0;
  top: 10%;
  z-index: 3;
  border: 1px solid #d3d3d3;
  background-color: white;
}
