.MyReservatationList {
    height: 80%;
    width: 100%;
    // position: relative;
    display: flex;
    flex-direction: column;

    // min-height: 750px;
    // min-width: 600px;

    background-color: white;
    border: 1px solid #d3d3d3;
    z-index: 1;

    border-radius: 20px;
    padding: 5% 5%;

    font-size: medium;
    margin-bottom: 2%;

    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background: #ccc;
    }
    .centerLoading {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .absoluteLoading {
        position: absolute;
        right: 25%;
        bottom: 10%;
        z-index: 5;
    }
}
