@font-face {
    font-family: 'BMHannaAir';
    src: url('./fonts/BMHANNAAir_ttf.ttf');
}
@media screen and (max-width: 1300px) {
    .App {
        min-width: 1300px;
        heght: 600px;
        overflow-x: auto;
    }
}
.App {
    font-family: BMHannaAir;
    height: 100vh;
}
